    #Posrtgres Configuration

    POSTGRES_USER=user
    POSTGRES_PASSWORD=admin
    POSTGRES_DB=CLAUD_DB
    POSTGRES_HOST=localhost

    #DB Configuration
    STAGE=dev

    DB_PASSWORD=admin
    DB_USER=postgres
    DB_HOST=localhost
    DB_NAME=claud_db
    DB_PORT=6432

    #App Configuration
    PORT=3001

    #JWT Configuration
    JWT_SECRET=7fnTD+EAOTX5Su2C/zCA5Qxj7vHRMEbesdP6Kaehd38=
    JWT_EXPIRES_IN=3600s

    #Email Configuration
    EMAIL_USER=fjeni5889@gmail.com
    EMAIL_HOST=smtp.gmail.com
    EMAIL_PORT=587
    EMAIL_PASSWORD=xdqu lztd wbpo jjsr

    #UrlForResetPassword
     UrlForResetPassword=http://localhost:4200/resetPassword?token=

    #Cloudinary Configuration

    CLOUDINARY_CLOUD_NAME=dmekopag1
    CLOUDINARY_API_KEY=383264942742683
    CLOUDINARY_API_SECRET=kzsacJYk3mS1bJmqwEz234rzI4M