# Postgres Configuration
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=your_db_name
POSTGRES_HOST=localhost

# DB Configuration
STAGE=dev

DB_PASSWORD=your_db_password
DB_USER=your_db_user
DB_HOST=localhost
DB_NAME=your_db_name
DB_PORT=5432

# App Configuration
PORT=3000

# JWT Configuration
JWT_SECRET=your_super_secret_random_string_here
JWT_EXPIRES_IN=6600s

# Email Configuration (SMTP)
EMAIL_USER=your_email@example.com
EMAIL_HOST=smtp.your_provider.com
EMAIL_PORT=587
EMAIL_PASSWORD=your_app_specific_password

# Url For Reset Password
UrlForResetPassword=http://localhost:4200/reset-password?token=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Recaptcha Keys
RECAPTCHA_SECRET_KEY_DEV=your_testing_secret_key
RECAPTCHA_SECRET_KEY=your_production_secret_key

# Google API Configuration
ID_CLIENTE_GOOGLE=your_google_client_id.apps.googleusercontent.com
SECRET_CLIENTE_GOOGLE=your_google_client_secret